@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-textPrimary font-sans antialiased;
    margin: 0;
  }
}

@layer components {
  .container-sct {
    @apply max-w-sct mx-auto px-4 md:px-6;
  }
  .container-admin {
    @apply max-w-sct-admin mx-auto px-4 md:px-6;
  }
}

/* Скрыть scrollbar в горизонтальных скроллерах */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
